:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark: hsl(229, 23%, 23%);
    --dark-gray: hsl(227, 10%, 46%);
    --light-gray:  hsl(227, 10%, 90%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10 px
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    max-width: 320px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.315);

    &-header{
        width: 100%;
        display: block;
    }

    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid var(--light-gray);

        &-img {
            border: 5px solid white;
            background-color: white;
            border-radius: 50%;
            margin-top: calc(-48px - 5px);
        }

        &-title {
            margin: 0;
            margin-top: 2rem;
            color: var(--very-dark);
            font-size: 1.8rem;

            span {
                color: var(--dark-gray);
                font-weight: 400;
            }
        }

        &-text {
            font-size: 1.7rem;
            color: var(--dark-gray);
            margin-bottom: 2rem;
        }

    }

    &-footer {
        display: flex;
        justify-content: space-evenly;

        &-social {
            text-align: center;

            h3 {
                margin-top: 2rem;
                margin-bottom: 0.5rem;
                font-size: 2rem;
                color: var(--very-dark);
            }

            p {
                margin-top: 0;
                margin-bottom: 2rem;
                letter-spacing: 1px;
                color: var(--dark-gray);
                font-weight: 700;
                font-size: 1.2rem;
            }
        }
    }
}






